/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Banner Section */
.banner-wrap {
    position: relative;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/ZA-en-20240909-TRIFECTA-perspective_642b1fe5-288d-4f73-bbec-8f98b038aa92_large.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Navbar */
.navbar {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    z-index: 1;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo svg {
    width: 150px; 
    height: auto;
    padding: 0 70px;
}
.navbar a{
    padding: 50px 0px;
}

.navbar .sign-in-button {
    padding: 10px 20px;
    margin-right: 50px;
    font-size: 1rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.navbar .sign-in-button:hover {
    background-color: #f40612;
}

/* Banner Container Styles */
.banner-container {
    text-align: center;
    z-index: 2;
}

.card-title {
    font-size: 3rem;
    font-weight: 700;
}

.card-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
}

.get-started-form {
    margin-top: 20px;
}

.get-started-form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    width: 300px;
}

.get-started-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e50914;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

/* Information Section */
.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #000;
}

.tv-container {
    position: relative;
}

.tv-container img {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.tv-container video {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    z-index: 0;
}

/* Footer Section */
.footer {
    background-color: #181818;
    padding: 40px 50px;
}

.footer-top a {
    text-decoration: none;
    color: #757575;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links li {
    text-decoration: none;
    color: #757575;
    cursor: pointer;
}

.footer-links li:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom select {
    padding: 10px;
    background-color: #181818;
    color: #757575;
    border: 1px solid #757575;
    border-radius: 2px;
}

.footer-bottom p {
    color: #757575;
}
